.header {
  display: flex;
  align-items: baseline;
  padding: 0 64px;
}
.headerNav {
  margin-right: auto;
}

.headerList {
  display: flex;
  gap: 32px;
}

.headerItem {
  padding: 24px 0;
}

.headerLink {
  font-weight: 500;
  transition: color, 250ms, ease;
}

.headerLink:hover,
.headerLink:focus {
  color: #829b91;
}

.logo {
  margin-right: auto;
}
