.header {
  display: flex;
  align-items: baseline;
  padding: 0 64px;
  border-bottom: 1px solid #f2f4f7;
  background-color: #f7f7f7;
}
.headerNav {
  margin-right: auto;
}

.headerList {
  display: flex;
  gap: 32px;
}

.headerItem {
  padding: 24px 0;
}

.headerLink {
  font-weight: 500;
  transition: color, 250ms, ease;
}

.headerLink:hover,
.headerLink:focus {
  color: #829b91;
}

.logo {
  margin-right: auto;
}

.activeLink {
  color: #829b91;
}
