.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
.inputWrapper {
  margin-bottom: 14px;
  width: 100%;
  position: relative;
}
.input {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 12px;
  padding: 18px;
  border: none;

  color: #101828;
  outline: none;
}

input::placeholder {
  color: #6c717b;
}

.error {
  font-size: 10px;
  color: rgb(231, 98, 98);
  position: absolute;
  left: 0;
  bottom: -14px;
}

.submitButton {
  width: 100%;
  margin-top: 10px;
}
