.camperItem {
  display: flex;
  gap: 24px;
  background-color: #f7f7f7;
  border-radius: 16px;

  margin-bottom: 32px;
  padding: 24px;

  min-width: 840px;
}

.camperImage {
  border-radius: 16px;
}

.camperInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 524px;
}

.camperHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 8px;
  align-items: center;
}

.camperName {
  grid-column: 1;
}

.camperPrice {
  grid-column: 2;
  justify-self: end;
  font-size: 24px;
}

.meta {
  grid-column: 1;
  display: flex;
  gap: 16px;
}

.camperDescr {
  color: #475467;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

.ratingWrapper,
.locationWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.starIcon {
  width: 16px;
  height: 16px;
  fill: #ffc531;
}

.iconLocation {
  width: 16px;
  height: 16px;
  color: #101828;
}

.tagList {
  display: flex;
  gap: 8px;
}

.tagItem {
  background-color: #f2f4f7;
  border-radius: 100px;
  padding: 12px 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tagIcon {
  width: 20px;
  height: 20px;
  fill: #101828;
}

.btnShowMore {
  max-width: 173px;
}
