.form {
  width: 360px;
  padding: 24px;
  background-color: #f7f7f7;
  border-radius: 20px;
}

.locationLabel {
  color: #6c717b;
  margin-bottom: 8px;
  display: block;
}

.inputWrapper {
  position: relative;
  margin-bottom: 40px;
}

.iconLocation {
  position: absolute;
  top: 18px;
  left: 20px;

  width: 20px;
  height: 20px;
  color: #6c717b;
  transition: color 250ms ease;
}

.inputWrapper:focus-within .iconLocation {
  color: #101828;
}

.input {
  width: 100%;
  padding: 16px 48px;

  border-radius: 12px;
  background-color: #fff;
  border: none;
  outline: none;
}

.filtersTitle {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.fieldset {
  border: none;
}

.legend {
  color: #6c717b;
  font-weight: 400;
  margin-bottom: 8px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.option {
  margin-left: 8px;
  text-transform: capitalize;
  cursor: pointer;
}

.hiddenRadio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.customRadio {
  width: 24px;
  height: 24px;
  border: 1px solid #475467;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: border-color 250ms ease;
  cursor: pointer;
}

.customRadio::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #829b91;
  transform: scale(0);
  transition: transform 250ms ease;
}

.hiddenRadio:checked + .customRadio::after {
  transform: scale(1);
}

.hiddenRadio:checked + .customRadio {
  border-color: #829b91;
}

.btnSearch {
  margin-bottom: 16px;
  width: 100%;
}

.actions .btnClear {
  width: 100%;
  background-color: #fff;
  border: 1px solid #dadde1;
  color: #101828;
  transition: background-color 250ms ease;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.actions .btnClear:hover,
.actions .btnClear:focus {
  border-color: #6d7b75;
  background-color: #fff;
}

.closeIcon {
  width: 24px;
  height: 24px;
  stroke: #000;
}
