.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    flex-direction: row;
    padding: 48px 64px;
    gap: 65px;
  }
}
