@import "modern-normalize";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
  color: #101828;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 600;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

button,
input,
select,
textarea {
  font: inherit;
}

img,
svg {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
}
