.heroSection {
  background-color: gray;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/img/bg-img.jpg);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 72px);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 195px 64px 325px;
}

.heroTitle {
  font-size: 48px;
  line-height: 0.66667;
  color: #f7f7f7;
  margin-bottom: 16px;
}

.heroText {
  font-size: 24px;
  line-height: 1.33333;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.heroSection .btnViewNow {
  max-width: 173px;
}

.container .btnBackHome {
  max-width: 173px;
  margin-top: 24px;
}
