.btnFilters {
  display: block;
}

@media only screen and (min-width: 1440px) {
  .btnFilters {
    display: none;
  }
}

.filtersWrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background: white;

  transform: translateX(100%);
  transition: transform 300ms ease;
}

.filtersWrapper.isOpen {
  transform: translateX(0);
}

@media only screen and (min-width: 1440px) {
  .filtersWrapper {
    position: static;
    transform: none;
  }
}
